<section class="card bg-warning">
  <header class="card-header">Plot elements</header>

  <main class="card-body bg-white">
    <div class="form-group">
      <label>Plot Title</label>
      <input type="text" class="form-control" [(ngModel)]="plotTitle" (change)="updateTitle()"/>
    </div>

    <ul class="list-unstyled">
      <li *ngFor="let item of plotData.data$ | async">
        <div class="row">
          <div class="col-sm-2 text-right"><i class="fa fa-{{ item._icon }}"></i></div>
          <div class="col-sm-10">{{ item.name }}</div>
        </div>
      </li>
    </ul>
  </main>

  <footer class="card-footer">
    <button class="btn btn-default btn-block btn-sm mb-1" (click)="clearList()">
      <fa name="remove"></fa> Clear All
    </button>
    <button class="btn btn-default btn-block btn-sm" (click)="randomElements()">
     <fa name="random"></fa> Random elements
    </button>
  </footer>
</section>
