<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <nav class="navbar navbar-dark bg-info mt-3 mb-3">
    <span class="navbar-brand">{{ title }}</span>
  </nav>

  <div class="row">
    <div class="col-md-3">
      <app-films></app-films>
      <app-people></app-people>
      <app-planets></app-planets>
      <app-species></app-species>
      <app-starships></app-starships>
      <app-vehicles></app-vehicles>
    </div>
    <div class="col-md-3">
      <app-selection></app-selection>
    </div>
    <div class="col-md-6">
      <app-story></app-story>
    </div>
  </div>
</div>
