<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-6">Plot</div>
      <div class="col-sm-6 text-right">
        <button class="btn btn-danger btn-sm" (click)="generateStory()">
          Generate
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p class="text-center">A long time ago in a galaxy far, far away...</p>
    <h4 class="text-center">{{ title || 'Star Wars'}}</h4>
    <p class="text-center"><strong>Chapter 75</strong></p>
    <p [innerHTML]="plot"></p>
  </div>
</div>
