<section class="card bg-primary mb-3">
  <header class="card-header text-white">{{ title }}</header>
  <main class="card-body bg-white">

    <div class="input-group input-group-sm mb-3">
      <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchTerm"/>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="handleSearch()">
          <fa name="search"></fa>
        </button>
      </div>
    </div>

    <div *ngIf="loading;else resultList" class="text-center" style="line-height: 100px;">
      <fa name="circle-o-notch" animation="spin"></fa>
    </div>

    <ng-template #resultList>
      <div class="nav flex-column nav-pills">
        <button *ngFor="let item of list" class="btn btn-sm btn-block {{ item._checked ? 'btn-primary' : 'btn-outline-info' }} mb-1" (click)="onItemChange(item)">{{ item.name }}</button>
      </div>
    </ng-template>

  </main>
  <footer class="card-footer">
    <div class="row" *ngIf="!loading;else loadPrevNext">

      <div class="col-sm-6">
        <button *ngIf="!loading && loadPrev;else loadPrevDisabled" type="button" class="btn btn-default btn-sm btn-block" (click)="handleLoadPrev()">
          <fa name="chevron-left"></fa>
        </button>

        <ng-template #loadPrevDisabled>
          <button type="button" class="btn btn-default disabled btn-sm btn-block">
            <fa name="chevron-left"></fa>
          </button>
        </ng-template>
      </div>


      <div class="col-sm-6">
        <button *ngIf="!loading && loadNext;else loadNextDisabled" type="button" class="btn btn-default btn-sm btn-block" (click)="handleLoadNext()">
          <fa name="chevron-right"></fa>
        </button>

        <ng-template #loadNextDisabled>
          <button type="button" class="btn btn-default disabled btn-sm btn-block">
            <fa name="chevron-right"></fa>
          </button>
        </ng-template>
      </div>

    </div>
  </footer>
</section>
